#custom-tns-controls {
  .button-container {
    display: block;
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
    position: absolute;
    padding: 12px 6px;
    cursor: pointer;
  }
  .prev {
    @extend .button-container;
    @include main-gradient();
  }

  .next {
    @extend .button-container;
    @include sub-gradient();
    right: 0;
  }

  [aria-disabled="true"] {
    opacity: .2;
    cursor: text;
  }

}

#custom-tns-nav {
  .tns-nav-active {
    color: darkorange;
  }
}
