@mixin main-gradient($teal: rgba(41,47,237,1), $blue: rgba(215,32,135,1)) {
  background: linear-gradient(to right, $teal 0%, $blue 100%);
}

@mixin sub-gradient($teal: rgba(41,47,237,1), $blue: rgba(215,32,135,1)) {
  background: linear-gradient(to right, $blue 0%, $teal 100%);
}