// Global styling for entire theme

// Resets for body and html height for sticky footer
body,
html {
    height: 100%;
}

html {
    // used by viewport detection helper to determine the current viewport
    &::before {
        position: absolute;
        top: -100%;
        font-size: 0;

        @include media-breakpoint-only(xs) {
            content: 'xs';
        }
        @include media-breakpoint-only(sm) {
            content: 'sm';
        }
        @include media-breakpoint-only(md) {
            content: 'md';
        }
        @include media-breakpoint-only(lg) {
            content: 'lg';
        }
        @include media-breakpoint-only(xl) {
            content: 'xl';
        }
        @include media-breakpoint-only(xxl) {
            content: 'xxl';
        }
    }
}